<div id="login-modal-body">
  <div class="content">
    <span>sign in</span>
    <button
      mat-raised-button
      class="login-btns"
      id="facebook"
      (click)="authenticate('facebook')"
    >
      facebook
    </button>
    <button
      mat-raised-button
      class="login-btns"
      id="apple"
      (click)="authenticate('apple')"
    >
      apple
    </button>
    <button
      mat-raised-button
      class="login-btns"
      id="google"
      (click)="authenticate('google')"
    >
      google
    </button>
    <span>OR</span>
    <input type="email" name="" id="email-input" />
    <input type="password" name="" id="password" />
    <button
      mat-raised-button
      class="login-btns"
      (click)="authenticate('username')"
    >
      log in
    </button>
  </div>
  <div></div>
</div>
