:host {
  display: flex;
  flex-direction: column;
  background-color: black;
}

.toolbar, .actions, {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color:white;
  border-radius: 20px;
}

.spotify-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:white;
}

.body {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  // background-color: rgb(21, 21, 21);
  border-radius: 20px;

  .side-menu, {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    color: white;
    border-radius: 20px;
    background-color: rgb(21, 21, 21);
  }

    .side-menu-top {
      display: flex;
      flex: 1 1 auto;
      flex-direction: column;
      color: white;
      border-radius: 20px;
      background-color: rgb(21, 21, 21);
  }
  gap: 4px;
  /*.vert-divider {
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    min-height: 100vh;
  }*/

  .hori-divider {
    display: flex;
    flex-direction: colomn;
    border: 1px solid black;
  }

  .main {
    display: flex;
    flex: 3 1 auto;
    flex-direction: column;
    color: white;
    border-radius: 20px;
    background-color: rgb(21, 21, 21);
  }
}

.item {
  display: flex;
  color: white;
}